html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

.mui-inner-wrap {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
  font-size: 0.32rem;
  color: #000;
  background: #fff; }

.mui-bar-nav {
  width: 100%;
  height: auto;
  background: #ffe141; }
  .mui-bar-nav .header-top {
    width: 100%;
    height: 1.06667rem;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 0.4rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .mui-bar-nav .header-top img:nth-child(1) {
      width: 0.8rem;
      height: 0.8rem; }
    .mui-bar-nav .header-top h1 {
      font-size: 0.42667rem;
      font-weight: 600;
      margin-left: 0.4rem; }
    .mui-bar-nav .header-top img:nth-child(3) {
      width: 2.13333rem;
      height: 0.8rem; }
  .mui-bar-nav .header-center {
    width: 100%;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 0.4rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .mui-bar-nav .header-center p {
      color: #000; }
    .mui-bar-nav .header-center .year {
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      display: -webkit-flex;
      /* NEW - Chrome */
      -webkit-align-items: center;
      align-items: center;
      font-weight: 600; }
      .mui-bar-nav .header-center .year p {
        color: #000;
        padding: 0 0.26667rem;
        border: 0.02667rem solid #333;
        border-radius: 0.53333rem;
        margin-right: 0.26667rem;
        height: 0.66667rem;
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        display: -webkit-flex;
        /* NEW - Chrome */
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center; }
        .mui-bar-nav .header-center .year p .mui-icon-arrowdown {
          font-size: 0.37333rem;
          font-weight: 600; }
  .mui-bar-nav h2 {
    padding: 0 0.4rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.34667rem; }
    .mui-bar-nav h2 span {
      font-size: 0.66667rem;
      font-weight: 600; }
  .mui-bar-nav .header-bottom {
    width: 100%;
    height: 1.06667rem;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 0.4rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .mui-bar-nav .header-bottom p {
      color: #000; }

.content {
  position: relative;
  top: 3.57333rem;
  left: 0;
  z-index: 99;
  background: #fff; }
  .content .content_top {
    width: 100%;
    height: 1.06667rem;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 0.4rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff; }
    .content .content_top .flex-container {
      width: 0.64rem;
      height: 0.64rem; }
      .content .content_top .flex-container img {
        width: 100%;
        height: 100%; }
    .content .content_top .list {
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      display: -webkit-flex;
      /* NEW - Chrome */
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      font-size: 0.37333rem;
      border: 0.02667rem solid #333;
      border-radius: 0.53333rem;
      overflow: hidden; }
      .content .content_top .list p {
        padding: 0.13333rem 0.26667rem; }
      .content .content_top .list p:nth-child(1) {
        border-right: 0.02667rem solid #333; }
      .content .content_top .list .p-active {
        background: #ffe141;
        color: #333; }
    .content .content_top .mui-icon-search {
      color: #333; }

.mui-scroll-wrapper {
  top: 3.46667rem;
  height: 14.93333rem; }
  .mui-scroll-wrapper .mui-scroll {
    background: #fff; }
    .mui-scroll-wrapper .mui-scroll .mui-bill-year {
      width: 100%; }
      .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view {
        width: 100%;
        background: #fff; }
        .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell {
          width: 100%;
          background: #fff; }
          .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell .mui-top {
            width: 100%;
            display: flex;
            /* NEW, Spec - Opera 12.1, Firefox 20+ */
            display: -webkit-flex;
            /* NEW - Chrome */
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-align-items: center;
            align-items: center; }
            .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell .mui-top p {
              display: flex;
              /* NEW, Spec - Opera 12.1, Firefox 20+ */
              display: -webkit-flex;
              /* NEW - Chrome */
              -webkit-align-items: center;
              align-items: center;
              width: 1.6rem;
              color: #000; }
              .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell .mui-top p img {
                width: 0.48rem;
                height: 0.48rem; }
            .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell .mui-top .mui-top-content {
              flex: 1;
              display: flex;
              /* NEW, Spec - Opera 12.1, Firefox 20+ */
              display: -webkit-flex;
              /* NEW - Chrome */
              -webkit-justify-content: space-between;
              justify-content: space-between;
              -webkit-align-items: center;
              align-items: center; }
              .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell .mui-top .mui-top-content > dl {
                flex: 1;
                display: flex;
                /* NEW, Spec - Opera 12.1, Firefox 20+ */
                display: -webkit-flex;
                /* NEW - Chrome */
                -webkit-flex-direction: column;
                flex-direction: column;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                -webkit-align-items: center;
                align-items: center; }
              .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell .mui-top .mui-top-content dl:nth-child(1) {
                color: red; }
              .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell .mui-top .mui-top-content dl:nth-child(2) {
                color: green; }
              .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell .mui-top .mui-top-content dl:nth-child(3) {
                color: #666; }
          .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell div {
            width: 100%; }
            .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell div .mui-table-view {
              margin: 0;
              padding: 0;
              width: 100%;
              padding-inline-start: 0px; }
              .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell div .mui-table-view .mui-table-view-cell {
                width: 100%;
                padding: 0; }
                .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell div .mui-table-view .mui-table-view-cell .mui-btn {
                  transform: translate(-200px, 0px); }
                .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell div .mui-table-view .mui-table-view-cell .mui-slider-handle {
                  width: 100%; }
                  .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell div .mui-table-view .mui-table-view-cell .mui-slider-handle .mui-contents {
                    width: 100%;
                    margin: 0;
                    padding: 0; }
                    .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell div .mui-table-view .mui-table-view-cell .mui-slider-handle .mui-contents > dl {
                      width: 100%;
                      height: 1.6rem;
                      display: flex;
                      /* NEW, Spec - Opera 12.1, Firefox 20+ */
                      display: -webkit-flex;
                      /* NEW - Chrome */
                      -webkit-align-items: center;
                      align-items: center;
                      padding: 0 0.4rem;
                      -webkit-box-sizing: border-box;
                      -moz-box-sizing: border-box;
                      -ms-box-sizing: border-box;
                      -o-box-sizing: border-box;
                      box-sizing: border-box; }
                      .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell div .mui-table-view .mui-table-view-cell .mui-slider-handle .mui-contents > dl dt {
                        width: 1.06667rem;
                        height: 1.06667rem;
                        border-radius: 50%;
                        background: #ffe141;
                        display: flex;
                        /* NEW, Spec - Opera 12.1, Firefox 20+ */
                        display: -webkit-flex;
                        /* NEW - Chrome */
                        -webkit-justify-content: center;
                        justify-content: center;
                        -webkit-align-items: center;
                        align-items: center;
                        margin-right: 0.26667rem; }
                        .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell div .mui-table-view .mui-table-view-cell .mui-slider-handle .mui-contents > dl dt span {
                          color: #000; }
                      .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell div .mui-table-view .mui-table-view-cell .mui-slider-handle .mui-contents > dl dd {
                        flex: 1;
                        display: flex;
                        /* NEW, Spec - Opera 12.1, Firefox 20+ */
                        display: -webkit-flex;
                        /* NEW - Chrome */
                        -webkit-justify-content: space-between;
                        justify-content: space-between;
                        -webkit-align-items: center;
                        align-items: center;
                        font-size: 0.37333rem; }
                        .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell div .mui-table-view .mui-table-view-cell .mui-slider-handle .mui-contents > dl dd p {
                          color: #000; }
                        .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell div .mui-table-view .mui-table-view-cell .mui-slider-handle .mui-contents > dl dd b {
                          font-size: 0.53333rem;
                          font-weight: 600; }
                        .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell div .mui-table-view .mui-table-view-cell .mui-slider-handle .mui-contents > dl dd .income {
                          color: green; }
                        .mui-scroll-wrapper .mui-scroll .mui-bill-year .mui-table-view .mui-table-view-cell div .mui-table-view .mui-table-view-cell .mui-slider-handle .mui-contents > dl dd .expenditure {
                          color: red; }
    .mui-scroll-wrapper .mui-scroll .mui-bill-month {
      width: 100%; }
      .mui-scroll-wrapper .mui-scroll .mui-bill-month .date {
        width: 100%;
        height: 1.06667rem;
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        display: -webkit-flex;
        /* NEW - Chrome */
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        padding: 0 0.4rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        background: #fff; }
        .mui-scroll-wrapper .mui-scroll .mui-bill-month .date p {
          display: flex;
          /* NEW, Spec - Opera 12.1, Firefox 20+ */
          display: -webkit-flex;
          /* NEW - Chrome */
          -webkit-align-items: center;
          align-items: center; }
          .mui-scroll-wrapper .mui-scroll .mui-bill-month .date p img {
            width: 0.53333rem;
            height: 0.53333rem;
            margin-right: 0.13333rem; }
      .mui-scroll-wrapper .mui-scroll .mui-bill-month .mui-contents {
        width: 100%;
        margin: 0;
        padding: 0; }
        .mui-scroll-wrapper .mui-scroll .mui-bill-month .mui-contents > dl {
          width: 100%;
          height: 1.6rem;
          display: flex;
          /* NEW, Spec - Opera 12.1, Firefox 20+ */
          display: -webkit-flex;
          /* NEW - Chrome */
          -webkit-align-items: center;
          align-items: center;
          padding: 0 0.4rem;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -o-box-sizing: border-box;
          box-sizing: border-box; }
          .mui-scroll-wrapper .mui-scroll .mui-bill-month .mui-contents > dl dt {
            width: 1.06667rem;
            height: 1.06667rem;
            border-radius: 50%;
            background: #ffe141;
            display: flex;
            /* NEW, Spec - Opera 12.1, Firefox 20+ */
            display: -webkit-flex;
            /* NEW - Chrome */
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-items: center;
            align-items: center;
            margin-right: 0.26667rem; }
            .mui-scroll-wrapper .mui-scroll .mui-bill-month .mui-contents > dl dt span {
              color: #000; }
          .mui-scroll-wrapper .mui-scroll .mui-bill-month .mui-contents > dl dd {
            flex: 1;
            display: flex;
            /* NEW, Spec - Opera 12.1, Firefox 20+ */
            display: -webkit-flex;
            /* NEW - Chrome */
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-align-items: center;
            align-items: center;
            font-size: 0.37333rem; }
            .mui-scroll-wrapper .mui-scroll .mui-bill-month .mui-contents > dl dd p {
              color: #000; }
            .mui-scroll-wrapper .mui-scroll .mui-bill-month .mui-contents > dl dd b {
              font-size: 0.53333rem;
              font-weight: 600; }
            .mui-scroll-wrapper .mui-scroll .mui-bill-month .mui-contents > dl dd .income {
              color: green; }
            .mui-scroll-wrapper .mui-scroll .mui-bill-month .mui-contents > dl dd .expenditure {
              color: red; }
    .mui-scroll-wrapper .mui-scroll .mui-bill-chart {
      display: none; }

.mui-off-canvas-backdrop {
  width: 100%;
  height: 1.33333rem;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  border-top: 1px solid #ccc;
  padding-top: 0.13333rem;
  box-sizing: border-box;
  z-index: 99;
  background: #fff; }
  .mui-off-canvas-backdrop dl dt {
    text-align: center; }
    .mui-off-canvas-backdrop dl dt img {
      width: 0.53333rem; }
  .mui-off-canvas-backdrop dl dd {
    font-size: 0.37333rem; }

.mui-off-canvas-wrap {
  font-size: 0.37333rem;
  height: 100%;
  width: 100%; }
  .mui-off-canvas-wrap .mui-off-canvas-left {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); }
    .mui-off-canvas-wrap .mui-off-canvas-left .mui-scroll-wrapper {
      width: 70%;
      height: 100%;
      background: #f8f7f7;
      top: 0;
      padding: 0.26667rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
      .mui-off-canvas-wrap .mui-off-canvas-left .mui-scroll-wrapper .mui-scroll {
        background: #f8f7f7;
        width: 100%; }
        .mui-off-canvas-wrap .mui-off-canvas-left .mui-scroll-wrapper .mui-scroll .mui-type {
          width: 100%; }
          .mui-off-canvas-wrap .mui-off-canvas-left .mui-scroll-wrapper .mui-scroll .mui-type h4 {
            border-left: 2px solid yellow;
            padding-left: 0.4rem;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -o-box-sizing: border-box;
            box-sizing: border-box; }
          .mui-off-canvas-wrap .mui-off-canvas-left .mui-scroll-wrapper .mui-scroll .mui-type .mui-list {
            display: flex;
            /* NEW, Spec - Opera 12.1, Firefox 20+ */
            display: -webkit-flex;
            /* NEW - Chrome */
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            margin: 0.53333rem 0; }
            .mui-off-canvas-wrap .mui-off-canvas-left .mui-scroll-wrapper .mui-scroll .mui-type .mui-list li {
              padding: 0.08rem 0.26667rem;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              -ms-box-sizing: border-box;
              -o-box-sizing: border-box;
              box-sizing: border-box;
              border-radius: 0.4rem;
              border: 0.02667rem solid #333;
              margin-right: 0.26667rem;
              margin-top: 0.13333rem; }
            .mui-off-canvas-wrap .mui-off-canvas-left .mui-scroll-wrapper .mui-scroll .mui-type .mui-list .mui-active {
              border-color: #ffe141; }
        .mui-off-canvas-wrap .mui-off-canvas-left .mui-scroll-wrapper .mui-scroll .button {
          width: 100%;
          display: flex;
          /* NEW, Spec - Opera 12.1, Firefox 20+ */
          display: -webkit-flex;
          /* NEW - Chrome */
          -webkit-justify-content: space-around;
          justify-content: space-around;
          -webkit-align-items: center;
          align-items: center;
          margin-top: 0.53333rem; }
          .mui-off-canvas-wrap .mui-off-canvas-left .mui-scroll-wrapper .mui-scroll .button button {
            padding: 0.10667rem 0.4rem;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -o-box-sizing: border-box;
            box-sizing: border-box;
            border: 0;
            border-radius: 0.4rem;
            color: #fff; }
          .mui-off-canvas-wrap .mui-off-canvas-left .mui-scroll-wrapper .mui-scroll .button button:nth-child(1) {
            background: #666; }
          .mui-off-canvas-wrap .mui-off-canvas-left .mui-scroll-wrapper .mui-scroll .button button:nth-child(2) {
            background: #f2cf07; }

element.style {
  transform: translate(-88px, 0px); }

#bottom {
  position: fixed;
  bottom: 0.93333rem;
  left: 50%;
  z-index: 9999999;
  width: 2.13333rem;
  border-radius: 50%;
  background: #fff;
  height: 2.13333rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-left: -1.06667rem; }
  #bottom .round {
    width: 1.6rem;
    border-radius: 50%;
    background: yellow;
    height: 1.6rem;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center; }
    #bottom .round p {
      font-size: 1.33333rem;
      color: #fff;
      font-weight: 600; }
